@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap" );

@layer base{
  *{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family:'Outfit';
  }
}

